<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[UpdateASAP]</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1><span class="text-muted">[</span>Update<span class="text-danger">ASAP</span><span class="text-muted">]</span></h1>
		<p>Latest version: {{ latest }}</p>
		<p>All versions:</p>
		<ul>
			{% for version in versions %}
				<li>{{ version }}</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>
